MONGODB_URI=mongodb+srv://codevistatech48_db_user:CodeVistaTech@123456@codevistadb.taxugpt.mongodb.net/interviewDB?retryWrites=true&w=majority
JWT_SECRET=
JWT_EXPIRES_IN=7d
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
PORT=5001
RESEND_API_KEY=re_ARoGKECy_L62MmcWKA8cSBpYJ9EupuE3J
RESEND_FROM_EMAIL=onboarding@resend.dev