MONGODB_URI=mongodb+srv://sogarwal42:Lok2004Secure@cluster0.nsagbtx.mongodb.net/interviewDB?retryWrites=true&w=majority
JWT_SECRET=
JWT_EXPIRES_IN=7d
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
PORT=5001